@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-navigation {
  margin: 0;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
}

.button-loading {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  width: 620px;
  border: 0;
  border-radius: 4px;
  margin: 0;
  padding: 17px 0px;
}

.container {
  font-family: "PT Sans", "Arial", "sans-serif";
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  /* position: absolute; */
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 450px;
}

.navigation-link {
  display: block;
  padding: 20px 17px 19px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-user {
  width: 280px;
  justify-content:flex-end;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.promo-logo {
  color: #000000;
  background-color: #F2F2F2;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
}

.logo-style {
  display: block;
  margin: 0 auto;
}

.promo-text {
  color: #333333;
  background-color: #FFFFFF;
  padding: 63px 240px 80px 240px;
}

.advantages-line {
  display: flex;
  margin: 0;
  padding: 0;
  height: 384px;
}

.features-list,
.reasons-list {
  display: flex;
}

.features-item,
.features-item-light,
.reasons-item,
.reasons-item-dark {
  width: 400px;
}

.text-description,
.appointment-title,
.newsletter-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.appointment-title,
.newsletter-item-index {
  margin: 0;
  padding-bottom: 29px;
}

.appointment-info {
  margin: 0;
  padding-bottom: 56px;
}

.text-reasons {
  font-size: 22px;
  line-height: 36px;
}

.basic-title,
.features-title,
.reasons-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
}

.basic-description {
  margin: 30px 0px;
}

.features-title,
.reasons-title {
  color: #000000;
}

.features-title {
  margin: 0;
  padding: 184px 75px 0px 75px;
}

.features-description {
  margin: 0;
  padding: 20px 75px 79px 75px;
  min-height: 73px;
}

.reasons-title {
  margin: 0;
  padding: 98px 75px 0px 75px;
}

.reasons-description-number {
  margin: 0;
  padding: 29px 75px 30px 75px;
}

.reasons-description {
  margin: 0;
  padding: 0px 75px 108px 75px;
}

.basic {
  color: #FFFFFF;
  background-color: #83B3D3;
  padding: 97px 90px 87px 90px;
}

.features-item,
.reasons-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-light {
  background-color: #FFFFFF;
}

.reasons-item-dark {
  background: rgba(131, 179, 211, 0.2);
}

.appointment {
  color: #333333;
  background-color: #FFFFFF;
  padding: 91px 240px 93px 240px;
}

.appointment-info,
.newsletter-title {
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 94px 200px;
}

.newsletter-catalog {
  margin: 0;
  padding: 73px 128px 141px 128px;
}

.newsletter-item-index {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0px 40px 29px 40px;
}

.newsletter-title {
  margin: 0;
  padding: 0px 40px 46px 40px;
}

.form-label {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 26px;
}

.page-footer-container {
  font-family: "PT Sans", "Arial", "sans-serif";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 40px 72px 40px 72px;
}

.footer-social-list{
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  align-items: center;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.contacts-phone {
  font-style: normal;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
  text-align: center;
}

.main-inner {
  color: #333333;
  background-color: #FFFFFF;
}

.main-inner-catalog {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-catalog {
  display: flex;
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  width: 1056px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  margin: 0;
}

.sorting-number {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 10px 18px;
}

.product {
  margin: 20px;
}

.house-list-image {
  display: block;
  margin: 0;
}

.list {
  display: flex;
}

.list p {
  width: 50%;
}

.button-product {
  display: flex;
  padding: 16px 0px;
}

.house-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 16px 0px;
}

.house-list-price,
.quantity {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.product-rating {
  display: flex;
  justify-content: space-between;
}

.stars {
  margin: 0;
  padding: 10px 0px;
}

.rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
}

.loading {
  margin: 0;
  padding: 30px 218px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}