@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::before,
::after {
  box-sizing: border-box;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.button-navigation {
  margin: 0;
  padding: 9px 34px 8px 34px;
  border-radius: 4px;
  width: 160px;
  margin-left: 18px;
  font-size: 16px;
  line-height: 20px;
}

.button-navigation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button-loading {
  font-size: 20px;
  line-height: 26px;
  width: 620px;
  border-radius: 4px;
  margin: 0;
  padding: 17px 0px;
}

.button-catalog,
.button-catalog-favorites {
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.button-catalog {
  width: 133px;
}

.button-catalog-favorites {
  width: 141px;
}

.button-catalog button-brown {
  width: 133px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #83B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-product {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

.button-search {
  padding: 15px 151px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-color: transparent;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-reset:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.newsletter-button {
  margin: 0;
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}

.button-implement {
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  min-height: 48px;
  border-radius: 4px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.button-implement:hover {
  background: #68A2CA;
}

.button-implement:focus {
  background: #68A2CA;
  border: 3px solid #FFFFFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 500px;
  margin-left: 169px;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 10px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  width: 350px;
  justify-content:flex-end;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 20px 12px;
}

.heart {
  position: relative;
}

.likes {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  left: calc(50% - 19.05px/2 + 13px);
  top: calc(50% - 13px/2 - 9px);
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.promo-logo {
  color: #000000;
  background-color: #F2F2F2;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  position: relative;
}

.promo-logo::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-image: url("../images/divider.svg");
  width: 1200px;
  height: 57px;
}

.logo {
  margin: 0;
  margin-bottom: 77px;
}

.promo-text {
  color: #333333;
  background-color: #FFFFFF;
  padding: 63px 240px 80px 240px;
}

.advantages-line {
  display: flex;
  margin: 0;
  padding: 0;
}

.basic-photo {
  height: 384px;
}

.features-list,
.reasons-list {
  display: flex;
}

.features-item,
.features-item-light,
.reasons-item,
.reasons-item-dark {
  width: 400px;
}

.features-item,
.features-item-light {
  position: relative;
}

.features-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 89px auto;
}

.text-description,
.appointment-title,
.newsletter-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.appointment-title {
  margin: 0;
  margin-bottom: 29px;
}

.appointment-data {
  width: 720px;
  min-height:233px;
  margin: 0 auto;
  padding: 91px 240px 93px 240px;
}

.text-description {
  margin: 0;
  margin-bottom: 31px;
}

.text-reasons {
  margin: 0;
}

.appointment-info {
  margin: 0;
  margin-bottom: 71px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  border: 3px solid #83B3D3;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.text-reasons {
  font-size: 22px;
  line-height: 36px;
}

.basic-title,
.features-title,
.reasons-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
}

.basic-description {
  margin: 0;
  margin-top: 30px;
}

.features-title,
.reasons-title {
  color: #000000;
}

.features-title {
  margin: 0;
  padding: 184px 75px 0px 75px;
}

.features-description {
  margin: 0;
  padding: 20px 75px 79px 75px;
  min-height: 73px;
}

.reasons-title {
  margin: 0;
  padding: 98px 75px 0px 75px;
}

.reasons-description-number {
  margin: 0;
  padding: 29px 75px 30px 75px;
}

.reasons-description {
  margin: 0;
  padding: 0px 75px 108px 75px;
}

.basic {
  color: #FFFFFF;
  background-color: #83B3D3;
  padding: 97px 90px 87px 90px;
}

.features-item,
.reasons-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-light {
  background-color: #FFFFFF;
}

.reasons-item-dark {
  background: rgba(131, 179, 211, 0.2);
}

.appointment {
  margin: 0;
}

.appointment-info,
.newsletter-title,
.newsletter-title-index {
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 94px 200px;
}

.newsletter-catalog {
  margin: 73px 128px 141px 128px;
}

.newsletter-item {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-item-index {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 720px;
}

.newsletter-title {
  margin: 0;
  margin-top: 46px;
  margin-bottom: 46px;
  text-align: center;
}

.newsletter-title-index {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 46px;
  text-align: center;
}

.newsletter-email {
  margin: 0;
  width: 600px;
}

.newsletter-form {
  display: flex;
  margin: 0;
}

.field {
  margin: 0;
  padding-left: 22px;
  padding-right: 19px;
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  box-sizing: border-box;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: 2px solid #FF5757;
}

.range {
  width: 287px;
  margin-top: 4px;
}

.range-wrapper-inputs {
  display: flex;
  box-sizing: border-box;
  outline:  2px solid #FFFFFF;
  border-radius: 4px;
}

.filter-catalog-group-price {
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 149px;
}

.filter-label-min,
.filter-label-max {
  display: flex;
  width: 50%;
  height: 48px;
  position: relative;
}

.filter-label-min:hover {
  outline: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  opacity: 0.6;
}

.filter-label-max:hover {
  outline: 2px solid #FFFFFF;
  border-radius: 0px 4px 4px 0px;
  opacity: 0.6;
}

.filter-input-min:focus {
  border: 2px solid #FFFFFF;
  outline: 3px solid #83B3D3;
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.filter-input-max:focus {
  border: 2px solid #FFFFFF;
  outline: 3px solid #83B3D3;
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  border-radius: 0px 4px 4px 0px;
}

.filter-label-min:active {
  background-color: #756257;
  border-radius: 4px 0px 0px 4px;
  outline: 2px solid #FFFFFF;
}

.filter-label-max:active {
  background-color: #756257;
  border-radius: 0px 4px 4px 0px;
  outline: 2px solid #FFFFFF;
}

.filter-min,
.filter-max {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  opacity: 0.3;
}

.filter-input {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  height: 100%;
  padding-left: 19px;
  padding-right: 14px;
}

.filter-input::-webkit-outer-spin-button,
.filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(102, 102, 102);
}

.range-price {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
} 

.range-toggle:active {
  border: 2px solid #83B3D3;
} 

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.form-label {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 26px;
}

.page-footer-container {
  font-family: "PT Sans", sans-serif;
  display: flex;
  margin: 0 auto;
  padding: 40px 72px 40px 72px;
}

.footer-social-list{
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  align-items: center;
  width: 107px;
  justify-content: space-between;
  margin-right: auto;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:focus {
  fill: #68A2CA;
}

.footer-social-link {
  width: 40px;
  height: 40px;
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
  border-radius: 2px;
}

.footer-social-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon:active {
  opacity: 0.3;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.contacts-phone {
  font-style: normal;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;
  text-align: center;
  text-decoration: none;
}

.htmlacademy-link {
  margin-left: auto;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  outline-offset: 10px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus {
  color: #756257;
  margin: 0px 10px;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  outline-offset: 10px;
}

.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.main-inner {
  color: #333333;
  background-color: #FFFFFF;
}

.main-inner-catalog {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/main/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.search {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 601px 0px 71px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 5px;
  height: 68px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: #FFFFFF;
  opacity: 0.6;
}

.filter {
  width: 1056px;
  margin: 0 auto;
  padding-bottom: 81px;
  padding-top: 45px;
}

.filter-catalog {
  display: flex;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  margin-right: 67px;
  padding: 0;
}

.filter-catalog-item {
  margin-bottom: 13px;
}

.filter-catalog-item:last-child {
  margin-bottom: 0;
}

.filter-action {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  background: #FFFFFF;
  border-radius: 4px;
} 

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../images/tick.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
  background: rgba(255, 255, 255, 0.3);
}

.control-input:active + .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:hover + .control-mark {
  background-color: #FFFFFF;
}

.control-input[type="radio"]:focus + .control-mark {
  background-color: #FFFFFF;
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:active + .control-mark {
  background-color: #FFFFFF;
  outline: 3px solid #83B3D3;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.sorting {
  width: 1056px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 53px;
}

.sorting-number {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}

.sorting-type {
  margin-right: auto;
}

.select-control-list {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  padding: 12px 21px 13px 19px;
  color: #333333;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle:last-child {
  margin-right: 0;
}

.select-control-list:hover,
.select-control-list:focus {
  outline: 2px solid #83B3D3;
}

.select-control-list:active {
  outline: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  color: #000000;
  background-color: #FFFFFF;
  margin-right: 8px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle:hover,
.card-grid-toggle:focus {
  outline: 2px solid #83B3D3;
}

.card-grid-toggle-current {
  outline: 2px solid #000000;
}

.card-grid-toggle-tile {
  background-image: url("../images/mode-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-grid-toggle-slideshow {
  background-image: url("../images/mode-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-grid-toggle-list {
  background-image: url("../images/mode-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 6px 18px;
}

.product {
  margin: 20px;
}

.house-list-image {
  display: block;
  margin: 0;
}

.house-list-image:hover {
  opacity: 0.6;
}

.house-list-image:focus {
  outline: 3px solid #83B3D3;
}

.house-list-image:active {
  opacity: 0.3;
}

.list {
  display: flex;
}

.house-list-link {
  text-decoration: none;
}

.house-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 16px 0px;
}

.house-list,
.house-list-price,
.quantity {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.house-list {
  margin: 0;
  padding: 0;
  width: 133px;
  margin-right: 25px;
}

.product-rating {
  display: flex;
  justify-content: space-between;
}

.stars {
  margin: 0;
  padding: 10px 0px;
}

.rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 8px;
}

.loading {
  margin: 0;
  margin-top: 26px;
  padding: 30px 218px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 73px;
}

.pagination-list {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background: #68A2CA; 
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-type {
  margin-left: 51px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  margin: 0;
  padding: 13px 20px 12px 17px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: #ffffff;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #83B3D3;
}

.select-control:active {
  outline: 2px solid #E6E6E6;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container {
  display: none;
}

.modal {
  position: relative;
  margin-top: 396px;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #FFFFFF;
}

.modal-auth {
  width: 575px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #F2F2F2;
  padding: 0px;
  top: 0px;
  right: 0;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: 54px;
  margin-right: 70px;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.6;
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.data-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.data-entry,
.data-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-data-entry {
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.auth-form-field {
  width: 420px;
  border-radius: 4px;
  height: 50px;
}

.data-entry-field {
  position: relative;
  display: flex;
}

.auth-form-field {
  font-size: 18px;
  line-height: 40px;
} 

.button-calendar {
  position: absolute;
  margin-left: 386px;
  margin-top: 18px;
  background: transparent;
}

.warning-error {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FF5757;
  margin: 0;
  width: 420px;
  margin-left: auto;
  margin-bottom: 11px;
}

.warning-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
  margin: 0;
  width: 420px;
  margin-left: auto;
  margin-bottom: 11px;
}

.modal-search-button {
  font-size: 20px;
  line-height: 40px;
  width: 575px;
  align-items: center;
  padding: 10px 0px;
  border-radius: 10px;
}

.passenger {
  display: flex;
  margin-top: 11px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.adult,
.children {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adult {
  width: 288px;
}

.children {
  width: 230px;
}

.quantity-adult,
.quantity-children {
  position: relative;
}

.button-less {
  position: absolute;
  background: transparent;
  top: 10px;
  right: 101px;
}

.button-more {
  position: absolute;
  background: transparent;
  top: 14px;
  right: 17px;
}

.button-less:focus,
.button-more:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.auth-form-field-age {
  font-family: "PT Sans", sans-serif;
  width: 133px;
  height: 50px;
  margin: 0;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.auth-form-field-age::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.auth-form-field::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.note {
  position: relative;
}

.info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:  #83B3D3;
  border: 0;
  margin-left: 10px;
}

.popover {
  position: absolute;
  top: 49px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  min-height: 232px;
  border-radius: 20px;
  /*display: none;*/
}

.popover-note {
  position: absolute;
  width: 256px;
  min-height: 143px;
  background: #333333;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.window {
  position: absolute;
  margin: 0;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.children-info {
  position: relative;
  display: flex;
}